@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.baitadabba{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.locontain{

    height:350px;
    width:95%;
    box-shadow: 3px 3px 16px rgba(0,0,0,0.7);
    overflow:hidden;

}

.imgcont img{

    height:100%;
    width:100%;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;

	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}















body{
  min-height: 100vh;
  background-color:black;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.sticky{
  background: black;
  padding: 15px 100px;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}


@media (max-width: 1060px){
  header .btn{
    display: block;
  }

  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  header .menu{
    position: fixed;
    background: #1483D5;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}



a{
    text-decoration: none;
}

.pagema
{
  min-height:100vh;
  background-color: black;
}


.main{
    height:80vh;
    width:100%;
    
}


.wrapper,.slide
{
     width:100%;
     height:100%;
     overflow: hidden;
}

.slide::before{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    
    z-index: 10;

}

.slide .image
{
    height:100%;
    width:100%;
    object-fit:cover;
}





.inp1
{
    color:white;
    font-size: 50px;
    padding-top:250px;
    padding-left:100px;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    line-height: 70px;
}


.bachha
{
    font-size: 20px;
    font-weight: 400;
}



.nav-btn
{
    height:50px;
    width:50px;
    padding:30px;

    align-items: center;

    border-radius:50%;
    background:rgba(255,255,255,0.3);

}


.nav-btn:hover{
    background:rgba(255,255,255,0.4);
}


.swiper-button-next{
  right:50px;
}
.swiper-button-prev
{

 left:50px;
}

.nav-btn::before,.nav-btn::after{

    font-size:25px;
    color:#fff;

}


.swiper-pagination-bullet
{
  opacity:1;

  height:12px;
  width:12px;
  background-color: #fff;
}

.swiper-pagination-bullet-active
{
    border:2px solid #fff;
    background-color:red;
}